*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #FFF;
    color: #7d8ca2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
    position: relative;
    height: 100vh;
}
.containerR{
    display: flex;
}
.containerC{
    display: flex;
    flex-direction: column;
}
.tColPrimary{color: #6415ff;}
.tColSecondary{color: #253363;}
.tColTertiary{color: #7d8ca2;}
.tColTertiary2{color: #cbd5e0;}

nav{
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    align-items: center;
}
.navbar{
    list-style-type: none;
    align-items: center;
    transition: 0.3s all ease-in;
}
.navbar a{
    text-decoration: none;
    color: #253363;
    font-weight: bold;
    padding: 10px;
    margin: 0 5px;
    border-radius: 20px;
    transition: 0.3s all;
}
.navbar a:hover{
    background-color: #e9deff;
}
.btnPrimary{
    border: 0px solid;
    padding: 15px;
    color: #fff;
    background-color: #6415ff;
    border-radius: 30px;
    font-weight: bold;
    width: 120px;
    height: 60px;
    transition: background-color 0.2s;
}
.btnPrimary:hover{
    background-color: #8f57ff;
    cursor: pointer;
}

.toggle-button{
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1000;
    background: none;
    border: none;
    cursor: pointer;

    /* hide it by default */
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    background-color: #6415ff;
    margin: 5px auto;
    transition: 0.3s;
}
.toggle-button.active .bar:nth-child(2){
    opacity: 0;
}
.toggle-button.active .bar:nth-child(1),
.toggle-button.active .bar:nth-child(3){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.toggle-button.active .bar:nth-child(1){
    transform: rotate(45deg);
}
.toggle-button.active .bar:nth-child(3){
    transform: rotate(-45deg);
}
.sect{
    padding: 40px 20px;
}
.sectTitle1{
    font-size: xxx-large;
}
.gridContainer{
    width: 100%;
    gap: 30px;
}
.gridItem50{
    flex: 1 1 100%;
    gap: 15px;
    justify-content: space-between;
}
.imgLg{
    width: 100%;
}
.searchbarCont{
    border: 2px solid #cbd5e0;
    padding: 4px;
    border-radius: 50px;
    gap: 10px;
    justify-content: space-between;
}
#getStartedForm input[type=email]{
    border: 0px;
    border-radius: 50px;
    padding: 10px;
    color: #7d8ca2;
    display: flex;
    flex-grow: 2;
}
#getStartedForm input[type=email]:focus{
    border: 0px solid ;
    font-size: 1em;
}

.tBold{
    font-weight: bold;
}
.stack{
    gap: 25px;
    align-items: center;
    width: 100%;
    text-align: center;
    /* background-color: #e9deff; */
}
.gridItem3{
    flex: 0 1 30%;
    min-height: 150px;
    text-align: left;
    gap: 10px;
    /* width: 33%; */
}
.gridContMore{
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 50px;
}
.gridItem3 img{
    width: 60px;
    height: 60px;
    border: 2px solid #cbd5e0;
    padding: 15px;
    border-radius: 50%;
}
.gridItemTitle{
    color: #253363;
}
.gridItemTxtCont{
    gap: 20px;
}
#sectSteps .stack{
    align-items: start;
}
#sectSteps .gridItem3{
    min-height: auto;
}
.stepNum{
    color: #cbd5e0;
    font-size: 40px
}
.colorIcons{
    width: 50px;
    padding: 10px;
    border-radius: 50%;
}
.starsCont{
    gap: 10px;
}
.starsCont img{
    width: 25px;
}
.testimonialHolder{
    justify-content: space-between;
}
.testUserCont{
    gap: 20px;
    align-items: center;
}
.testUserCont img{
    width: 70px;
    height: 70px;
}
.testimonialPages{
    align-items: center;
    gap: 10px;
}
.testimonialPages img{
    height: 50px;
    width: 50px;
    transition: all 0.2s;
    background-color: #e9deff;
}
.testimonialPages img:hover{
    cursor: pointer;
    background-color: #8f57ff;
}
.testimonialPages img:active{
    background-color: #6415ff;
}
#sectJumbotron{
    justify-content: center;
    align-items: center;
}
.jumbotron{
    color: #FFF;
    background-color: #6415ff;
    padding: 100px;
    margin: 40px 20px;
    width: 100%;
    font-size: 24px;
    border-radius: 10px;
    gap: 20px;
    align-items: center;
}

.btnDanger{
    background-color: #f66969;
    box-shadow: 1px 4px 5px #253363;
}
.btnBorder{
    border: 1px solid #e9deff;
}
footer{
    background-color: #6415ff;
    color: #FFF;
    gap: 80px;
}
#footer .gridItem5{
    flex: 1 1 20%;
    gap: 10px;
}
#footer .gridItem5 h4{
    margin-bottom: 10px;
}
#footer .gridItem5 a{
    text-decoration: none;
    color: #e9deff;
    font-weight: bold;
}
footer .containerR:last-child{
    justify-content: space-between;
}
footer .containerR:last-child .socials{
    gap: 10px;
}
#sectPricing .gridContainer{
    justify-content: space-evenly;
}
.priceCard{
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #e9deff;
    border-radius: 10px;
    padding: 40px 10px;
    gap: 20px;
    border: 1px solid #cbd5e0;
    transition: transform 0.2s;
}
.priceCard:hover{
    transform: scale(1.15, 1.15);
}
/* FIRST, LAST cards */
.priceCard:not(.priceCard:nth-child(2)){
    background-color: #FFF;
}
.priceCard:not(.priceCard:nth-child(2)) .cardType{
    color: #000;
}
.priceCard:not(.priceCard:nth-child(2)) .hr{
    height: 1px;;
    width: 100%;
    background-color: #cbd5e0;
}
/* FIRST card only */
.priceCard:nth-child(1){
    border-top: 8px solid #3db5ae;
}
.priceCard:nth-child(1) button{
    background-image: linear-gradient(to right, #3db5ae, #7be2d6);
}
.priceCard:nth-child(1) button:hover{
    background-image: linear-gradient(to left, #3db5ae, #7be2d6);
}
/* FIRST card only */
.priceCard:nth-child(3){
    border-top: 8px solid #f66969;
}
.priceCard:nth-child(3) button{
    background-image: linear-gradient(to right, #f66969, #fdadad);
}
.priceCard:nth-child(3) button:hover{
    background-image: linear-gradient(to left, #f66969, #fdadad);
}
/* MIDDLE card */
.priceCard:nth-child(2){
    color: #FFF;
    background-image: linear-gradient(#4c52c0, #667de9);
}
.priceCard:nth-child(2) h4:nth-child(3), 
.priceCard:nth-child(2) h1:nth-child(2){
    color: #FFF;
}
.priceCard:nth-child(2) .hr{
    height: 1px;;
    width: 100%;
    background-color: #fff;
}
.priceCard:nth-child(2) .cardType{
    color: #FFF;
}
.priceCard:nth-child(2) button{
    color: #8f57ff;
    background-color: #FFF;
}
.priceCard:nth-child(2) button:hover{
    background-color: #e9deff;
}
.price{
    font-size: 45px;
}

/* MOBILE */
@media (max-width:768px) {
    /* responsive navbar */
    .nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0; 
        width: 100%;
        max-height: max-content;
        /* background-color: #5371d4; */
    }
    .navitem{
        width: 100%;
    }
    .navitem a{
        display: block;
        width: 100%;
        text-align: center;
    }
    .navbar button{
        display: flex;
        margin: 0px auto;
    }
    .toggle-button{
        display: block;
    }
    /* navbar toggling */
    .navbar{
        display: none;
    }
    .navbar.active {
        display: flex;
        max-height: 500px;
    }

    .sectTitle1{
        font-size: xx-large;
    }

    .gridContainer.containerR, .jumbotron.containerR{
        flex-direction: column;
    }

    .btnPrimary{
        padding: 10px;
        width: 100px;
        height: 50px;
    }
    .imgLg{
        align-self: center;
        width: 90%;
    }
    .gridContMore{
        gap: 20px;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: start;
        padding: 0 20px;
    }

    .starsCont img{
        width: 20px;
    }

    .testimonialHolder{
        flex-direction: column;
        gap: 10px;
    }
    
    .testimonialPages{
        align-items: center;
        gap: 10px;
        align-self: end;
    }

    #sectFeatures .gridItem3{
        flex: 1 1;
        min-height: auto;
    }

    .priceCard{
        width: 80%;
        align-self: center;
        gap: 10px;
    }

    .navbar .navitem button{
        justify-content: center;
        align-items: center;
    }
    footer .containerR.gridContainer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    footer .containerR:last-child{
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    footer .containerR:last-child .socials{
        flex-direction: row;
        justify-content: center;
    }
}